<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dictio game</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <div class="container-inner">
            <div class="content-left">
                <h1>Dictio game</h1>
                <button id="back">Back</button>
                <button id="leave">Leave</button>
            </div>
            <div class="content-center">
                <div class="seperator"></div>
            </div>
            <div class="content-right">
                <div id="loading"></div>
                <ul id="start">
                    <li><a href="javascript:hostGame();">Host game</a></li>
                    <li><a href="javascript:joinGame();">Join game</a></li>
                </ul>
                <div id="host">
                    <form>
                        <input type="text" name="username" required="required" placeholder="Enter username"></input><br />
                        <button type="submit">Enter room</button>
                    </form>
                </div>
                <div id="join">
                    <form>
                        <input type="text" name="roomId" required="required" placeholder="Enter code"></input>
                        <input type="text" name="username" required="required" placeholder="Enter username"></input><br />
                        <button type="submit">Enter room</button>
                    </form>
                </div>
                <div id="lobby">
                    <h2>Room <div data-placeholder="roomId"></div></h2>
                    <h3><span>Players</span></h3>
                    <div class="players">
                        <div data-placeholder="players"></div>
                    </div>
                    <h3><span>Chat</span></h3>
                    <div class="chat">
                        <div data-placeholder="chat"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io.js"></script>
    <script src="/script.js"></script>
</body>
</html>